<section class="py-1">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>Lỗi không tìm thấy kết quả</strong> 
            </div>
            <script>
              $(".alert").alert();
            </script>
        </div>
    </div>
</section>
